body .team {
  height: 712px;
  background-image: url("../../images/team/team-background-Assistor.png");
  position: relative; }

body .team-txt {
  height: 580px;
  position: relative;
  top: 60px;
  text-align: center;
  z-index: 2; }

body .team-title {
  margin: 0;
  font-size: 23px;
  color: #FFF; }

body .tetxt {
  margin-top: 0;
  position: relative;
  top: 10px;
  color: #FFF; }

body .pic4 {
  position: relative; }
  body .pic4 img {
    margin: 0 5px; }

body .hire {
  position: relative;
  top: 100px;
  color: #FFF; }

body .team11 {
  height: 40px; }

body .team12 {
  height: 40px; }

body .team13 {
  height: 40px; }

body .team14 {
  height: 40px; }

