body {
    .work{
        background-color:#fff;
        width:1600px;
        height:714px;
        position:relative;

    }

    .ourworks{
        position:absolute;
        top:70px;
        left:330px;
    }
    .project{
        position:absolute;
        top:71px;
        left:1078px;
    }
    .work-top{
        position:absolute;
        top:157px;
    }
    .work-bottom{
        position:absolute;
        top:357px;
    }
    .loadmore{
        position:absolute;
        top:627px;
        left:730px;
    }
}
