body .testimonials {
  height: 500px;
  background-image: url("../../images/testimonials/Testimonials-background - Assistor.jpg");
  position: relative;
  top: 213px; }

body .testimonial-icon {
  position: absolute;
  top: 69px;
  left: 784px; }

body .testimonials-txt {
  position: relative;
  top: 137px;
  text-align: center;
  line-height: 2em;
  color: #FFF;
  font-size: 13px; }
  body .testimonials-txt .test-txt1 {
    margin: 0; }

body .forward-back-icon img {
  margin: 0 200px; }

body .circle-pic {
  height: 70px;
  width: 319px;
  display: flex;
  align-items: center;
  justify-content: center; }
  body .circle-pic img {
    margin: 0 4px; }

