@charset "UTF-8";
body {
  /*testimonails effect*/
  /*slick-slide和slick-current在slick.css & slick-theme裡面有定義*/ }
  body .testimonials {
    height: 500px;
    background-image: url("../../images/testimonials/Testimonials-background-Assistor.jpg");
    position: relative; }
  body .testimonial-icon {
    position: relative;
    top: 69px;
    margin: auto;
    display: block;
    z-index: 2; }
  body .testimonials-txt {
    position: relative;
    top: 137px;
    text-align: center;
    line-height: 2em;
    color: #FFF;
    font-size: 13px;
    z-index: 2; }
    body .testimonials-txt .test-txt1 {
      width: 500px;
      height: auto;
      margin: auto; }
    body .testimonials-txt p {
      text-align: center; }
  body .forward-back-icon img {
    margin: 0 200px; }
  body .circle-pic {
    height: 70px;
    width: 319px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 230px;
    left: 630px;
    z-index: 2; }
    body .circle-pic img {
      margin: 0 10px; }
  body .circle-pic .slick-slide {
    opacity: 0.6;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s; }
  body .circle-pic .slick-center {
    opacity: 1;
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5); }
  body .circle-pic .slick-track {
    height: 70px;
    margin-top: 20px; }

