body .onthetop {
  background-image: url("../../images/navbar/top-background.png");
  height: 670px;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0; }

body .navbar {
  height: 86px;
  width: 1600px;
  z-index: 2; }

body .logo {
  position: relative;
  top: 36px;
  left: 331px;
  z-index: 2; }

body .learnmore {
  width: 120px;
  height: 40px;
  position: relative;
  top: 80px;
  margin: auto;
  z-index: 2; }

body .top-navbar {
  list-style-type: none;
  position: absolute;
  top: 45px;
  right: 500px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 2; }
  body .top-navbar li {
    float: left; }
  body .top-navbar li a {
    color: #ffF;
    display: block;
    padding: 10px;
    text-decoration: none;
    z-index: 2; }
  body .top-navbar li a:hover:not(#active) {
    color: aqua; }
  body .top-navbar #active {
    color: aqua; }

body .main {
  height: 372px;
  width: 771px;
  position: relative;
  top: 183px;
  left: 414.5px;
  z-index: 2;
  /* margin: 0 auto; */ }

body .middle-text {
  color: #FFF;
  font-size: 32px;
  margin: 0;
  text-align: center;
  z-index: 2; }

body .text1 {
  color: #FFF;
  font-size: 14px;
  line-height: 2em;
  position: relative;
  top: 20px;
  text-align: center;
  margin: 0;
  z-index: 2; }

