body .story {
  background-color: #FFF;
  height: 331px;
  width: auto;
  position: relative; }

body .story-title {
  color: #000;
  font-size: 22px;
  position: relative;
  top: 50px;
  text-align: center;
  margin: 0; }

body .story-txt {
  position: relative;
  top: 60px;
  left: 740px;
  font-size: 12px; }

body .learnmore2 {
  height: 40px;
  width: 120px;
  position: relative;
  top: 80px;
  left: 740px; }

body .biglogo {
  position: absolute;
  top: 40px;
  left: 350px; }

