body {
    .expertise{
background-image: url('../../images/expertise/Ebackground - Assistor.jpg');
          position:relative;
          top:212px;
          height:755px;
              }

    .ex-text{
        height:580px;
        position:relative;
        top:60px;
        text-align:center;
    }
    .ex-title{
        font-size:23px;
        margin:0;
    }
    .extxt{
        margin-top:0;
        position:relative;
        top:10px;
        
    }
    .separator{
        display:block;
        position:absolute;
        top:70px;
        left:775px;
    }

    .item{
        position:relative;
        top:50px;
    }
 }