body {
  /* .playicon{
        position:relative;
        top:205px;
        left:745px;
    }*/ }
  body .vedioplay {
    height: 550px;
    background-image: url("../../images/vedio/vediobackground-Assistor.png");
    position: relative; }
  body .vedio-zone {
    position: absolute;
    top: 205px;
    left: 455px;
    width: 180px;
    height: 150px;
    z-index: 2; }
  body .vedio-txt {
    position: relative;
    top: 30px;
    left: -23px;
    margin: 0;
    color: #FFF; }

