body {
    .vedioplay{
        height:550px;
        background-image: url('../../images/vedio/vediobackground-Assistor.png');
        position:relative;
        top:213px;
    }

    .vedio-zone{
        position:relative;
        top:205px;
        left:745px;
        width:160px;
        height:150px;
    }

   /* .playicon{
        position:relative;
        top:205px;
        left:745px;
    }*/

    .vedio-txt{
        position:relative;
        top:30px;
        left:-23px;
        margin:0;
        color:#FFF;

    }


}
